.root {
    /*-fx-background-color: rgb(248, 248, 248);*/
    -fx-background-color: linear-gradient(to bottom right, #805dff, #f1f8ff);
}

#topbar {
    -fx-padding: 30;
}

#rightsection {

    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
}

#searchbar {
    -fx-background-radius: 30;
}

.hoverable:hover {
    -fx-background-color: rgb(231, 231, 231);
    -fx-background-radius: 40;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 40;
}